*{
  padding: 0;
  margin: 0;
  overflow-y: visible;
}

.info__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50vh;
  margin-left: 8rem;
  margin-right: 8rem;
  padding-top: 1rem;
}



.info__text{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 50vh;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  
  /* background: rgba(206, 224, 194, 0.7); */
}

#inside_image{
  border-radius: 2.5%;
  margin-left: 0.5rem;
  height: auto;
  width: 90%;
}

.info__image_wrapper{
  display: flex;
  flex:1;
  flex-direction: column;
}

#p_info_text{
  font-size: 20px;
}

#h1_info_text{
  font-family: 'Merriweather sans', sans serif;
  margin-top: -2rem;

}


