* {
  padding: 0;
  margin: 0;
  overflow-y: visible;
}

.info__container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: auto;
  min-height: 50vh;
  margin-top: 12px;
  padding-top: 8rem;
  gap: 100px;
}

.info__container:last-child {
  margin-bottom: 48px;
}
.info__text {
  display: flex;
  width: 90ch;
  flex-direction: column;
  height: 50vh;
  padding-top: 2rem;
  text-align: left;
  /* background: rgba(206, 224, 194, 0.7); */
}

#inside_image {
  border-radius: 2.5%;
  height: auto;
  width: 600px;
  height: 400px;
  
  @media screen and (max-width: 1600px) {
    width: 450px;
    height: 300px;
  }

}



.info__image_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1_info_text,
.h1_info_text_white {
  font-family: 'Cloe', sans serif;
  margin-top: -2rem;
  margin-bottom: 12px;
  transition: color 0.4s ease; /* Adjust the duration and easing as needed */
}
.h1_info_text_white {
  color: white;
}
.h1_info_text {
  color: black;
}

.p_info_text,
.p_info_text_white {
  line-height: 150%;
  font-size: 18px;
  transition: color 0.4s ease; /* Adjust the duration and easing as needed */
 
}

.p_info_text {
  color: black;
}

.p_info_text_white {
  color: white;
}
