*{
  padding: 0;
  margin: 0;
}
.openingHours__container{
  display: flex;
  flex: 1;
  height: 100vh;
}

.openingHours__wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
}

h2{
  font-family: 'Merriweather sans', sans serif;
  font-weight: 600;
}

li{
  padding-top: 1rem;
  font-family: 'Merriweather sans', sans-serif;
}