*{
  margin:0;
  padding: 0;
  overflow-y: visible;
}

.logo__container{
  display: flex;
  flex-direction: column;
  
}

.wrapper{
  padding-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
  padding-bottom: 1rem;
}

a{
  color: black;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 1rem;

}

.chevron{
  animation: bounce 4s ease-in-out infinite;
  cursor: pointer;
  margin-top: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}