* {
  margin: 0;
  padding: 0;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#front_logo {
  width: 200px;
  height: 80px;
}

.company_logo_wrapper {
  position: absolute;
  top: 24px;
  left: 124px;
}

img {
  border-radius: 4px;
  /* box-shadow: 2px 2px 3px rgb(184, 181, 181), -2px 2px 3px rgb(184, 181, 181); */
  width: 70%;
}

.heading {
  position: relative;
  left: 28px;
  top: -38px;
  @media screen and (max-width: 100px) {
    top: -24px;
  }
}
h1 {
  font-family: 'Cloe', sans-serif;
  font-weight: 500;
  font-size: 72px;
  @media screen and (max-width: 1600px) {
    font-size: 48px;
  }
}

a {
  color: rgb(14, 14, 14);
}

.p_subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgb(14, 14, 14);
}

.chevron {
  margin-top: 24px;
  animation: bounce 4s ease-in-out infinite;
  cursor: pointer;
}

#chevron_icon {
  color: rgb(14, 14, 14);
  transition: 0s color;
}

#chevron_icon:hover {
  color: #c6c6c6;
  transition-delay: 0.2s;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
