*{
  margin:0;
  padding: 0;
}

.logo__container{
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  height: 100%;
}

.wrapper{
  padding-top: 5rem;
=======
  
  height: 100vh;
}

.wrapper{
  padding-top: 2rem;
>>>>>>> 4c01402a762a1758190a8c086ec31f639b9bc1b7
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
}

<<<<<<< HEAD
p{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
=======
a{
  color: black;
}

#logo__image{
  display: flex;
  align-items: center;
  width: 30%;
  height: auto;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
>>>>>>> 4c01402a762a1758190a8c086ec31f639b9bc1b7
}

.chevron{
  animation: bounce 4s ease-in-out infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}