.contactpage__container{
  display: flex;

}

.contactpage__wrapper{
  display: flex;
}

form{
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin-bottom: 4rem;
  padding: 1rem;
  width: 400px;
  font-size: 20px;
}

textarea{
  width: 400px;
  height: 400px;
  padding: 1rem;
  font-size: 20px;
}

p{
  margin-bottom: 0.5rem;
  font-family: 'Merryweather sans', sans serif;
}


#send__button{
  margin-top: 1rem;
  background-color: rgb(222, 203, 183);
  color: black;
}

#close__button{
  margin-top: 1rem;
  background-color: black;
}
